#background {
  min-height: 100%;
  width: 100%;
  height: auto;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dropdown.container {
  width: 250px;
  position: relative;
  top: 100px;
  left: 150px;
}

h3.cards-header {
  width: fit-content;
  margin: 10px auto;
  position: relative;
  top: 270px;
}

div.ui.container {
  position: relative;
  top: 300px;
}

@media (max-width: 991px) {
  #address {
    font-size: 0.85em;
  }

  #city {
    font-size: 0.85em;
  }

  #phone {
    font-size: 0.85em;
  }
}

.building.outline.icon {
  float: left;
}

.call.square.icon {
  float: left;
}

#address {
  margin: 0;
}

#city {
  position: relative;
  left: 22px;
}

.content .header:hover {
  text-decoration: underline;
}

.ui.small.modal {
  width: 292px;
  margin: 0 auto;
}
