/* html {
  background-position: top 170px;
  background-image: linear-gradient(0deg, #2c3e50, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* body {
  background-image: url(images/wooden-spoon-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

/* body {
  background-image: url(images/cutting-board-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0;
} */

#background {
  min-height: 100%;
  width: 100%;
  height: auto;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h3.cards-header {
  width: fit-content;
  margin: 10px auto;
  position: relative;
  top: 270px;
}

div.ui.container {
  position: relative;
  top: 300px;
}

@media (max-width: 991px) {
  #address {
    font-size: 0.85em;
  }

  #city {
    font-size: 0.85em;
  }

  #phone {
    font-size: 0.85em;
  }
}

i {
  float: left;
}

#address {
  margin: 0;
}

#city {
  position: relative;
  left: 22px;
}

.content .header:hover {
  text-decoration: underline;
}
